* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #000000;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h2{
	display: block;
    font-size: 1em;
    margin: 5 auto;	
    font-weight: bold;
	color:white;
	text-align: center;		
	inline-size: auto;	
	background-color: green;
}

h1{
	display: block;
    font-size: 2em;
    margin: 5 auto;	
	color:white;
    font-weight: bold;
	text-align: center;		
	inline-size: auto;	
	background-color: black;
}

#id_green{
	display: block;
    font-size: 1em;
     margin: 5 auto;	
    font-weight: bold;
	color:white;
	text-align: center;		
	inline-size: auto;	
	background-color: green;
}

#id_red{
	display: block;
    font-size: 1em;
    margin: 5 auto;	
	color:white;
    font-weight: bold;
	text-align: center;		
	inline-size: auto;	
	background-color: red;
}


img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardGreen {
  margin: 0.5rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  background-color:green;
}

.cardRed {
  margin: 0.5rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  background-color:red;
   order: -1;
}


.cardGreen:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.cardRed:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .cardGreen {
    flex: 1 1 calc(50% - 2rem);
  }
  .cardRed {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cardGreen {
    flex: 1 1 calc(33% - 2rem);
  }
  .cardRed {
    flex: 1 1 calc(33% - 2rem);
  }
}
